<div class="home">
	<div class="home-header">
		<P class="home-title">見出し</P>
	</div>
	<div class="home-center clearfix">
		<div class="home-center-right">
			<div class="home-right-image">
			</div>
		</div>
		<div class="home-center-left">
		   <%= link_to "店を探す", shops_path, :style=>"color:white;" %>
	    </div>
	</div>
	<div class="home-under">
		<%= link_to "レシピを見る", recipes_path %>
	</div>
</div>
