/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";


header{
	height: 250px;
  font-family: 'Hiragino Mincho Pro';
  background-color: black;
}

.user_name{
  color: white;
}

footer{
	height: 150px;
  width: 100%;
  color: white;
  background-color: black;
  font-family: 'Hiragino Mincho Pro';
}

.title-karaage{
	text-align: center;
	line-height: 150px;
  font-size: 50px;
}

.under-karaage{
	text-align: center;
	line-height: 150px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  text-align: center;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.sign_up{
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.actions{
  margin-top: 50px;
}

.log-in{
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.field{
  padding-top: 20px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.login-links{
  padding-top: 20px;
}

.btn-flat-success {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #222222;
  border: solid 2px #222222;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-success:hover {
  background: #222222;
  color: white;
}

.btn-flat-delete {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FF0000;
  border: solid 2px #FF0000;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-delete:hover {
  background: #FF0000;
  color: white;
}

