// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.home-header{
	height: 750px;
}


.home-header-taitle{
	width: 100%;
	height: 200px;
	text-align: center;
	line-height: 200px;
}

/*.header-box{
	font-size: 60px;
	text-align: center;
	font-family: 'Hiragino Mincho Pro';
	color: #555555;
}
*/


.icon-box{
	width: 100%;
	height: 150px;
}

.icon-item{
	text-align: center;
	line-height: 200px;
}


.home-center{
	width: 100%;
	height: 500px;
}

.home-center-right{
	width: 50%;
	height: 500px;
	padding-top: 100px;
	float: left;
}

.home-right-image{
	width: 400px;
	height: 300px;
	background-image: url(183160_m.jpg);
	background-size: cover;
	margin: 0 auto;
}

.home-center-left{
	width: 50%;
	float: left;
	line-height: 40px;
	margin-top: 150px;
	font-size: 20px;
}

.home-shop-link{
	text-align: right;
	margin-right: 50px;
}

.home-under{
	height: 500px;
}

.home-under-right{
	width: 50%;
	height: 500px;
	padding-top: 100px;
	float: left;
}

.home-under-right-image{
	width: 400px;
	height: 300px;
	background-image: url(karaage46202.JPG);
	background-size: cover;
	margin: 0 auto;
}

.home-center-left-text{
	font-family: 'Hiragino Mincho Pro';
}

.home-under-left-text{
	width: 50%;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-top: 150px;
	font-family: 'Hiragino Mincho Pro';
	font-size: 20px;
}

.home-recipe-link{
	text-align: right;
	margin-right: 50px;
}

.home-center-left-box{
	text-align: center;
}




.sample-text1 {
    font-size: 50px;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 13s;
    font-family: 'Hiragino Mincho Pro';
    color: #808080;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}