// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.recipe-new{
	min-height: 100vh;
    position: relative;
}

.recipe-index{
	min-height: 100vh;
    position: relative;
}
.recipe-new{
	text-align: center;
}

.recipe-show{
	min-height: 100vh;
    position: relative;
}

.recipe-index-top{
	height: 400px;
}

.recipe-top-font{
	text-align: center;
	line-height: 400px;
}

.progress-each{
	float: left;
}

.progress-box{
	width: 400px;
	height: 400px;
	float: left;
}

.progress-text{
	text-align: center;
}

.show-recipe-back{
	text-align: center;
}

.recipe-ranking{
	text-align: center;
}

.recipe-name-form{
	width: 300px;
	height: 50px;
}

.advice-form{
	width: 250px;
	height: 40px;
}

.progress-text-form{
	width: 300px;
	height: 100px;
}

.progress{
  height:200px !important;
}

.progress-image{
	text-align: center;
}
