// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/*---recipe-new---*/
.recipe-new{
	min-height: 100vh;
    position: relative;
    text-align: center;
}



.progress-text-form{
	width: 300px;
	height: 100px;
}

.recipe-name-form{
	width: 300px;
	height: 50px;
}

.advice-form{
	width: 250px;
	height: 40px;
}

/*---recipe-newここまで---*/

/*---recipe-index---*/
.recipe-index{
	min-height: 100vh;
    position: relative;
}

.recipe-ranking{
	text-align: center;
}

.recipe-index-top{
	height: 400px;
}

.recipe-icon-top{
	text-align: center;
	padding-top: 80px;
}

.icon-text{
	text-align: center;
	font-size: 70px;
	font-family: 'Hiragino Mincho Pro';
}

.recipe-top-font{
	text-align: center;
	line-height: 400px;
}

.rank-taitle{
	font-size: 50px;
	font-family: 'Hiragino Mincho Pro';
}

.rank-box{
	width: 350px;
	height: 350px;
	padding: 70px 0;
	text-align: center;
	float: left;
}

.rank-name{
	font-family: 'Hiragino Mincho Pro';
}

.recipe-rank{
	margin: 10px 0;
}

.rank-image{
	margin: 15px 0;
	border-radius: 50%;
}

.recipe-index-taitle{
	font-family: 'Hiragino Mincho Pro';
	display: inline-block;
	font-size: 50px;
	margin: 70px 0 ;
}

.recipe-feace{
	width: 100%;
	margin-top: 60px;
	text-align: center;
}

.recipe-each{
	width: 390px;
	height: 467px;
	text-align: center;
	float: left;
	margin: 50px 0;
	padding-right: 20px;
}

.recipe-mini-box{
	border: 1px solid #DDDDDD;
}

.recipe-index-item{
	margin:40px 0;
}

/*---recipe-indexここまで---*/


/*---recipe-edit---*/
.recipe-edit{
	min-height: 100vh;
    position: relative;
    text-align: center;
}


/*---recipe-show---*/
.recipe-show{
	min-height: 100vh;
    position: relative;
}

.recipe-taitle-box{
	width: 100%;
	height: 200px;
}

.recipe-taitle{
	text-align: center;
}

.recipe-name{
	text-align: center;
}

.recipe-name{
	font-family: 'Hiragino Mincho Pro';
	font-size: 50px;
}

.recipe-image{
	float: left;
}

.recipe-item{
	width: 500px;
	padding-left: 50px;
	float:left;
}

.material-box{
	margin-top: 12px;
	font-size: 20px;
}

.progress-each{
	float: left;
	width: 100%;
	margin-top: 50px;
}

.progress-box{
	width: 350px;
	height: 350px;
	float: left;
}

.progress-text{
	text-align: center;
}

.progress{
  height:200px !important;
}

.progress-image{
	text-align: center;
}

.show-recipe-back{
	text-align: center;
}

/*---recipe-showここまで---*/





.btn-gradation {
  display: inline-block;
  text-align: left;
  background-image: linear-gradient(#eaeaea 0%, #c6c6c6 100%);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #a5a5a5;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-gradation:hover {
  opacity: 0.8;
}




