// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shop-new{
	min-height: 100vh;
    position: relative;
}

.shop-index{
	min-height: 100vh;
    position: relative;
}

.shop-show{
	min-height: 100vh;
    position: relative;
}

.shop-index-top{
	height: 400px;
}

.shop-top-font{
	text-align: center;
	line-height: 400px;
}


.shop-show-top{
	height: 200px;
}

.shop-show-top-font{
	text-align: center;
	line-height: 200px;
}

.shop-show-main{
	text-align: center;
}

.shop-show-index{
	text-align: center;
}

.shop-index-ranking{
	font-size: 30px;
}

.search-taste{
	padding-bottom: 30px;
}


.feace-item-show{
	font-size: 20px;
}


