// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---shop-new---*/
.shop-new{
	min-height: 100vh;
    position: relative;
}
/*---shop-newここまで---*/

/*---shop-index---*/
.shop-index{
	min-height: 100vh;
    position: relative;
    margin-bottom: 100px;
}

.shop-index-top{
	height: 400px;
	background-image: url(img/main_img.jpg);
	background-size: 100% 100%;
}

.search-taste{
	margin: 50px 0;
	text-align: center;
}

.search-box{
	font-size: 20px;
	margin-left: 30px;
}

.search-botton{
	margin-left: 60px;
}

.feace-item-show{
	font-size: 20px;
}

.shop-index-review{
	font-size: 30px;
}

/*---shop-indexここまで---*/

/*---shop-show---*/
.shop-show{
	min-height: 100vh;
    position: relative;
}

.shop-show-top{
	height: 200px;
}

.shop-show-top-font{
	text-align: center;
	line-height: 200px;
}

.shop-show-main{
	text-align: center;
}

.shop-show-index{
	text-align: center;
	padding: 50px 0;
}

.shop-item{
	padding-top: 40px;
}

/*---shop-showここまで---*/



