// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-user{
	text-align: center;
	min-height: 100vh;
    position: relative;
}

.user-show-top{
  min-height: 100vh;
  position: relative;
}

.user-index-top{
  min-height: 100vh;
  position: relative;
}


.user-image{
  border-radius: 50%;
}