// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/*---user-edit----*/
.edit-user{
	text-align: center;
	min-height: 100vh;
  position: relative;
}

/*---user-editここまで---*/

/*---user-show---*/
.user-show-top{
  min-height: 100vh;
  position: relative;
}

.profile-box{
	margin-top: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 25%;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}



.image-box{
	width: 300px;
	height: 300px;
	float:left;
	text-align: center;
}

.user-box{
	margin-top: 40px;
}

.user-image{
  border-radius: 50%;
}

/*---user-showここまで---*/

/*---user-index---*/

.user-index-top{
  min-height: 100vh;
  position: relative;
}

/*---user-indexここまで---*/


