<% if user_signed_in? %>
    <% unless reviews.present? %>
        <P>コメントはまだありません。気軽にコメントしてみましょう！</p>
    <% end %>
<% else %>
    <P>コメントは会員登録を行ってください</P>
<% end %>

<% reviews.each do |review| %>
    <% unless review.id.nil? %>
        <p><%= link_to "#{review.user.name} さん", user_path(review.user.id) %> のコメント</p>
        <div class="comment-content">
            <p>内容：<%= review.review_text %></p>
            <% if review.user == current_user %>
                <p class="comment-delete"><%= link_to 'コメントを削除する', recipe_review_path(review.recipe_id, review.id), method: :delete, remote: true %><i class="fa fa-trash fa-fw"></i>
                </p>
            <% end %>
        </div>
    <% end %>
    <%= render partial: 'review_replays/index', locals: { review: review} %>
<% end %>